<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="~{layout :: link-css}"></th:block>
  <title>Add Book</title>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<div class="container">
  <h1>Add Book</h1>
  <!-- toan bo nhung du lieu ma nguoi dung nhap ban muon dua len server
        de xu ly thi phai nam trong the form thong qua duong dan nam o
        thuoc tinh th:action bang phuong thuc method nao - post-->
  <form th:action="@{/books/add}" th:object="${book}" method="post">
    <div class="col-6 mb-3">
      <label class="form-label" for="title">Title:</label><span class="text-danger">*</span>
      <!-- du lieu nguoi dung nhap vao se duoc gan vao thuoc tinh title cua book-->
      <input class="form-control"  type="text" th:field="*{title}" id="title">
      <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="author">Author:</label>
      <input class="form-control" type="text" th:field="*{author}" id="author">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="price">Price:</label><span class="text-danger">*</span>
      <input class="form-control"  type="text" th:field="*{price}" id="price">
      <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="category">Category:</label><span class="text-danger">*</span>
      <!--hien thi combobox ra cho nguoi dung chon category-->
      <select class="form-control" id="category" name="category.id">
        <option value="">-- Select Category --</option>
        <!-- tien hanh lap mang categr duoc truyen tu trontroller qua de hien thi
         moi gia tri gan vao bien categr va tao ra 1 option cho ng dung lua chon.
         ve mat hien thi name cua categr la text
         ve mat xu dy du lieu id cua categr la truong value-->
        <option th:each="category : ${categories}" th:value="${category.id}"
                th:text="${category.name}"></option>
      </select>
      <span class="text-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
    </div>

    <input type="submit" class="btn btn-primary" value="Save">
  </form>
  <br>
  <a th:href="@{/books}">Back to List</a>
</div>
<th:block th:replace="~{layout :: footer}"></th:block>
</body>
</html>